<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/c.css') }}">
    <!-- Саша. Подключить css/mobile.css -->
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/mobile.css') }}">
</head>
<body>
    
    <main>
        <div id="chats-div">
            <p>Сторінка чатів</p>
            <!-- Создать кнопку с id messages-tab -->
            <button id="messages-tab">messages-tab</button>
            
            <p>{{ title }}</p>
        </div>
        

        <div id="messages-div">
            <p>Сторінка повідомлень</p>
            <!-- Создать кнопку с id chats-tab -->
            <button id="members-tab">members-tab</button>
            
            <!-- Создать кнопку с back-tab  -->
            <button id="back-chats-tab">back-tab</button>
        </div>

        <div id="members-tab-div" class="active">
            <p>Сторінка учасників</p>
            <!-- Создать кнопку с back-tab   -->
            <button id="back-messages-tab">повернутись</button> 

            <div id="members-div">

            </div>

        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script src="{{ url_for('home_app.static', filename='js/chat.js') }}"></script>
    <!-- В src указывается путь к скрипту -->

    <!-- Тег для подключения скрипта -->
    <!-- <script> -->
</body> 
</html>
